:root {
    --main: #74c162;
}

* {
    font-family: 'Livvic', sans-serif;
}

.bg-main {
    background-color: var(--main)
}

a.bg-main:focus, a.bg-main:hover {
    background-color: #55bd97;
}

.btn-main {
    color: #fff;
    background-color: var(--main);
}

.btn-main:hover {
    color: #fff;
    background-color: #55bd97;
}

.text-main {
    color: var(--main)
}

.text-main:hover, .text-main:focus {
    color: #55bd97
}

.loader {
    border-radius: 50%;
    display: inline-flex;
    display: inline-flexbox;
    -webkit-animation: spin .9s ease-out infinite;
    animation: spin .9s ease-out infinite
}

.loader-sm {
    width: 1.35rem;
    height: 1.35rem;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-top-color: #3aa56b
}

.loader-md {
    width: 2.5rem;
    height: 2.5rem;
    border: 4px solid rgba(0, 0, 0, 0.15);
    border-top-color: var(--main)
}

.loader-lg {
    width: 5rem;
    height: 5rem;
    border: .45rem solid rgba(0, 0, 0, 0.15);
    border-top-color: var(--main)
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
    } to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform:rotate(0deg)
    } to {
        -webkit-transform: rotate(1turn);
        transform:rotate(1turn)
    }
}

.itemsFlexMiddle {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align:center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

/* //////////// custom bootstrap styles //////////// */

.form-control:focus {
    border-color: var(--main);
    box-shadow: 0 0 0 0.2rem rgba(4, 255, 0, 0.25)
}

/* //////////// end custom bootstrap styles //////////// */

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.isLogin {
    display: flex !important;
    display: -ms-flexbox !important
}

.isRegister {
    display: block !important
}

span.isRegister {
    display: inline-block !important
}

.login-page .btn-link:hover > span {
    text-decoration: underline
}

/* //////////////////////////////////////////// */

.home-page {
    display: flex !important;
    display: -ms-flexbox !important
}

.sidebar {
    width: 20rem;
    background-color: #fff;
    border-right: 1px solid var(--gray);
    transition: all .15s ease-in-out;
}

.sidebar.active {
    display: block
}

.sidebar-header {
    height: 4.2rem;
    display: flex;
    display: -ms-flexbox;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--gray);
    background-color: var(--main)
}

.display-name {
    line-height: 1.4;
    color: #fff
}

.header-img {
    width: 3rem;
    height: 3rem;
    border: 1px solid #dee2e6;
    padding: .1rem;
    background-color: #fff;
}

.profile-more {
    width: .8rem;
    margin-left: auto;
    margin-right: .5rem;
    cursor: pointer;
    fill: #fff
}

.close-menu {
    display: none;
    width: 1.25rem;
    margin-left: .5rem;
    margin-right: 1rem;
    cursor: pointer;
    fill: #fff
}

#room-list {
    height: calc(100vh - 11.92rem);
    overflow-y: auto;
    border-bottom: 1px solid var(--gray);
}

.room-content {
    display: flex;
    width: 100%;
    transition: all .15s ease-in-out;
    padding: .75rem;
    cursor: pointer;
}

.room-content:hover {
    background-color: #74c16233
}

.room-content.active {
    background-color: #74c1625e
}

.room-content-info {
    display: block;
    margin-left: .75rem;
    overflow-x: hidden;
}

.sidebar-footer {
    padding: 1rem;
}

.home-content {
    width: calc(100vw - 20rem);
    background-color: #fff
}

.home-header {
    height: 4.2rem;
    padding: .5rem 1rem;
    background-color: var(--main);
    border-bottom: 1px solid var(--gray)
}

.target-name {
    line-height: 1;
    color: #fff
}

.target-name span {
    display: block;
    line-height: 1.4;
    font-weight: 300;
    font-size: .9rem;
}

.open-menu {
    display:none;
    width: 2rem;
    height: 3rem;
    margin-right: 1rem;
    margin-left: .5rem;
    cursor: pointer;
    fill: #fff
}

.room-menu {
    position: relative;
    display: inline-block;
    margin-left: auto
}

#room-menu-svg {
    width: 2rem;
    height: 2rem;
    fill: #fff;
    cursor: pointer
}

.room-menu div {
    display: none;
    position: absolute;
    right: 0;
    padding: .5rem 0;
    top: 2.2rem;
    border-radius: .5rem;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0, .25);
    z-index: 1
}

.room-menu div a {
    color: black;
    padding: .5rem 1rem;
    font-size: .9rem;
    text-decoration: none;
    display: block;
    transition: all .15s ease-in-out
}

.room-menu div a:hover {background-color: #74c16233}

.room-menu.active div {display: block}

#chat-content{
    height: calc(100vh - 8.55rem);
    margin: 0;
    padding: 1rem;
    list-style: none;
    overflow-y: auto;
    border-bottom: 1px solid var(--gray);
}

#chat-content .fixed-chat-date {
    position: absolute;
    left: 20rem;
    right: 0;
    width: 7.5rem;
    text-align: center;
    margin: 0 auto;
    padding: .25rem .5rem;
    background-color: #ddd;
    font-size: .9rem;
    border-radius: 1rem;
}

#chat-content .chat-date {
    display: block;
    padding: .25rem .5rem;
    background-color: #ddd;
    font-size: .8rem;
    margin: 0 auto .5rem;
    text-align: center;
    width: 6rem;
    border-radius: 1rem
}

#chat-content li {
    display: table;
    width: 100%
}

#chat-content li .btn-chat-menu {
    padding: 0.1rem 0.25rem;
    margin: 0 .25rem;
    vertical-align: top;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0, .25)
}

#chat-content li .btn-chat-menu.left {
    background: #fff;
    border-radius: 0 .5rem .5rem 0
}

#chat-content li .btn-chat-menu.left:hover {
    background: #ccc
}

#chat-content li .btn-chat-menu.right {
    float: right;
    background: #8de478;
    border-radius: .5rem 0 0 .5rem
}

#chat-content li .btn-chat-menu.right:hover {
    background: #64c14f
}

#chat-content li p {
    font-size: .9rem;
    display: inline-block;
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    max-width: 65%;
    /* word-wrap: break-word;
    white-space: pre-wrap; */
    box-shadow: 0 .25rem .5rem rgba(0,0,0, .25)
}

#chat-content li p .right, #chat-content li p .left {
    word-wrap: break-word;
    white-space: pre-wrap;
}

#chat-content li p .chat-attachment {
    display: block;
    width: 100%;
    margin: .25rem 0
}

#chat-content li p .chat-attachment-file {
    background: rgba(0,0,0,0.1);
    padding: .25rem .5rem .5rem;
}

#chat-content li p label:not(.text-truncate) {
    display: block;
    font-size: 80%;
    margin-bottom: 0;
    text-align: right;
    color: #6c757d;
}

#chat-content li p label:not(.text-truncate) img {
    width: 1rem;
    height: 1rem;
    opacity: .75;
    margin-left: .25rem;
}

.btn-load-more {
    background-color: rgba(0,0,0, .15);
    border-radius: .5rem;
    transition: all .15s ease-in-out
}

.btn-load-more:hover {
    background-color: var(--main);
    color: #fff
}

.chat-left p {
    background-color: #fff;
    border-top-right-radius: 0 !important
}

.chat-right p {
    float: right;
    background-color: #8de478;
    border-top-left-radius: 0 !important
}

#chat-footer {
    padding: 1rem;
}

#chat-footer textarea {
    resize: none;
}

#chat-footer button {
    padding: 0 .75rem;
}

#chat-footer label {
    margin: 0;
    padding: .25rem .75rem;
    cursor: pointer
}

.typing-bubble {
    display: none;
}

.typing:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

@media (max-width: 767.98px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: none;
        display: none;
    }

    .close-menu {
        display: block;
    }

    .home-content {
        width: 100%;
    }

    .open-menu {
        display: block;
    }

    #chat-content .fixed-chat-date {
        left: 0
    }
}