<!DOCTYPE html>
<html lang="en">
<head>
	<title>Qiscus - Chat SDK</title>
</head>
<body>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<div id="main">
		<div v-if="!isLogin" class="login-page d-flex align-items-center">
			<div class="container d-flex justify-content-center">
				<div class="card shadow" style="width:20rem;background-color:#f5f5f5">
					<div class="card-body text-center">
						<h4 class="mb-3"><span v-if="!isRegister">Login</span><span v-if="isRegister" :class="{isRegister: isRegister}" style="display:none">Register</span></h4>
						<form id="loginForm">
							<div class="form-group">
								<input type="email" class="form-control" id="email" placeholder="Enter Your Email">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password" placeholder="Enter Your Password">
							</div>
							<div class="form-group" v-if="isRegister" :class="{isRegister: isRegister}" style="display:none">
								<input type="password" class="form-control" id="cpassword" placeholder="Confirm Password">
							</div>
							<div class="form-group" v-if="isRegister" :class="{isRegister: isRegister}" style="display:none">
								<input type="text" class="form-control" id="displayname" placeholder="Enter Your Display Name">
							</div>
							
							<button class="btn btn-main btn-block" type="button" onclick="do_login()">Submit</button>
							<button class="btn btn-link text-main btn-block mt-0" type="button" @click="switch_login()">Click here to <span v-if="!isRegister">register</span><span v-if="isRegister" :class="{isRegister: isRegister}" style="display:none">login</span>.</button>
						</form>
					</div>
				</div>
			</div>
		</div>
			
		<div v-if="isLogin" :class="{isLogin: isLogin}" style="display:none">
			<div :class="{active: sidebar}" class="sidebar">
				<div class="sidebar-header">
					<svg class="close-menu" onclick="vm.sidebar = false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/></svg>
					<img :src="display_img" class="rounded-circle header-img">
					<h2 class="display-name text-truncate mb-0 ml-2 font-weight-bold" :title="display_name">{{display_name}}</h2>
					<svg class="profile-more" onclick="$('#menuModal').modal('show')" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M96 184c39.8 0 72 32.2 72 72s-32.2 72-72 72-72-32.2-72-72 32.2-72 72-72zM24 80c0 39.8 32.2 72 72 72s72-32.2 72-72S135.8 8 96 8 24 40.2 24 80zm0 352c0 39.8 32.2 72 72 72s72-32.2 72-72-32.2-72-72-72-72 32.2-72 72z"/></svg>
				</div>
				<div class="py-2 px-3">
					<input type="text" class="form-control" placeholder="Search" v-model="roomSearch">
				</div>
				<div id="room-list" :class="{itemsFlexMiddle: roomLoad}">
					<div v-if="roomLoad" class="loader loader-lg"></div>
					<label v-if="!roomLoad && !hasRoom" class='text-muted mx-3'>You don't have any room yet.</label>
					<div v-if="!roomLoad && hasRoom">
						<div v-for="room in rooms" class="room-content" :class="['room-'+room.id, room.id == vm.openRoom ? 'active' : '']" @click="activeRoom(room.id)">
							<img :src="room.avatar" class="rounded-circle" alt="" style="width: 3rem; height: 3rem;">
							<div class="room-content-info">
								<h5 class="mb-0 text-truncate">{{room.name}}</h5>
								<small class="text-truncate">
									<span v-if="typingRoom != room.id">
										<span v-if="room.last_comment_message != ''">{{room.last_comment_message}}</span>
										<span v-else><i>Empty chat</i></span>
									</span>
									<span v-if="typingRoom == room.id" class="typing">Typing</span>
								</small>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar-footer">
					<button class="btn btn-main btn-block" onclick="createRoom()">Create Room</button>
				</div>
			</div>
			<div class="home-content">
				<div class="home-header">
					<div class="d-flex align-items-center" v-if="openRoom">
						<svg version="1.1" class="open-menu" onclick="vm.sidebar = true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
							<path d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z"/><path d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636 c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z"/><path d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636 c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z"/>
						</svg>
						<img v-if="target_img" :src="target_img" class="rounded-circle header-img" style="width: 3rem; height: 3rem;">
						<h3 class="target-name mb-0 ml-2 font-weight-bold">
							{{target_name}}
							<span v-if="typingRoom" class="typing">Typing</span>
							<span v-else>
								<span v-if="isOnline">Online</span>
								<span v-if="!isOnline">Offline</span>
							</span>
						</h3>
						<div class="room-menu" :class="{active: roomMenu}">
							<svg version="1.1" id="room-menu-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847" xml:space="preserve" @click="vm.roomMenu = !vm.roomMenu">
								<path id="room-menu-path" d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27, 151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
							</svg>
							<div>
								<a href="javascript:void(0)" @click="vm.roomMenu = false; $('#deleteAllMsgModal').modal('show')">Delete all message</a>
							</div>
						</div>
					</div>
				</div>
				<ul id="chat-content" :class="{itemsFlexMiddle: chatLoad}">
					<h5 v-if="initRoom">Please create a room or select an existing one to start chatting.</h5>
					<span v-if="!initRoom">
						<div v-if="chatLoad" class="loader loader-lg"></div>
						<span v-if="!chatLoad">
							<label v-if="!vm.chatList.length" class="text-muted">There is nothing to see here.</label>
							<span v-if="vm.chatList.length">
								<div v-if="fixedChatDate" class="fixed-chat-date">{{currentDate}}</div>
								<li v-if="loadMoreBtn" class="d-flex">
									<button class="btn btn-load-more btn-sm mx-auto mb-3" onclick="loadMoreMsg()">Load more</button>
								</li>
								<li v-for="(chat, key) in chatList" :class="'chat-'+chat.pos">
									<span v-if="key != 0">
										<span v-if="chatList[key-1].date.d != chat.date.d" class="chat-date">{{chat.date.d}}</span>
									</span>
									<span v-else class="chat-date">{{chat.date.d}}</span>
									<p :class="chat.pos" :style="chat.payload.content ? 'max-width:16.5rem' : ''">
										<span v-if="chat.payload.content" class="chat-attachment" :class="[chat.payload.content.url.match(/\.(jpeg|jpg|gif|png)$/) == null ? 'chat-attachment-file' : '']">
											<span v-if="chat.payload.content.url.match(/\.(jpeg|jpg|gif|png)$/) == null">
												<img src="svg/file.svg" width="40">
												<label class="text-truncate" style="max-width:11.25rem" :title="chat.payload.content.file_name">{{chat.payload.content.file_name}}</label>
											</span>
											<img v-else :src="chat.payload.content.url" style="max-width:15rem;height:auto">
										</span>
										<span :class="[chat.pos, chat.pos == 'right' ? 'selectable-text' : '']">{{chat.msg}}</span>
										<label :class="chat.pos">{{chat.date.t}}<img v-if="chat.pos == 'right'" :src="'svg/'+chat.status+'.svg'" :title="firstLetterUp(chat.status)">
										</label>
									</p>
									<button @click="chat_menu(chat.pos, chat.unique_id)" class="btn btn-sm btn-chat-menu" :class="chat.pos"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;width:15px;margin-bottom:0.15rem" xml:space="preserve"><path d="M51,153c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51S79.05,153,51,153z M357,153c-28.05,0-51,22.95-51,51 s22.95,51,51,51s51-22.95,51-51S385.05,153,357,153z M204,153c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51 S232.05,153,204,153z"/></svg></button>
								</li>
							</span>
						</span>
					</span>
				</ul>
				<div id="chat-footer" v-if="!initRoom">
					<div class="d-flex">
						<div class="input-group">
							<div class="input-group-prepend">
								<input type="file" class="d-none" id="uploadFile" onchange="fileCheck()">
								<label class="btn btn-main rounded-left" title="Attach file" for="uploadFile">
									<svg viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg" style="width:1rem;fill:#fff"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
								</label>
							</div>
							<textarea class="form-control mx-2" rows="1" id="send-message-input" placeholder="Type a message" oninput="typingStatus(event)" onkeydown="sendMsgByEnter(event)"></textarea>
							<div class="input-group-append">
								<button class="btn btn-main" onclick="do_sendMsg(event)" :disabled="sendingMsg" title="Send message">
									<span v-if="!sendingMsg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.808 477.808" style="enable-background:new 0 0 477.808 477.808;width:1.75rem;fill: #fff" xml:space="preserve"><rect x="205.781" y="122.359" transform="matrix(0.9078 0.4194 -0.4194 0.9078 78.4686 -80.2537)" width="32" height="32"/><rect x="147.686" y="95.539" transform="matrix(0.908 0.419 -0.419 0.908 61.7892 -58.3169)" width="32" height="32"/><path d="M477.808,238.904l-205.728-94.96l-13.408,29.072l108.112,49.888H84.128l-36.8-147.472l66.064,30.528L126.8,76.904 L0,18.376l55.136,220.528L0,459.432L477.808,238.904z M84.208,254.904h282.576L47.264,402.376L84.208,254.904z"/></svg></span>
									<div v-if="sendingMsg" class="loader loader-sm"></div>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="menuModal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<button class="btn btn-main btn-sm btn-block" onclick="$('#menuModal').modal('hide'); $('#changeNameModal').modal('show').on('shown.bs.modal', function(){ $('#updateName').focus().select() })">Change display name</button>
							<button class="btn btn-danger btn-sm btn-block" onclick="do_logout()">Logout</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="newChatModal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Add new conversation</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<input type="text" class="form-control mb-3" placeholder="Search username" v-model="userSearch">
							<div style="max-height: 20rem; overflow-y: auto;" :class="{itemsFlexMiddle: userLoad}" :style="userLoad ? 'height:4rem' : ''">
								<div class="loader loader-md" v-if="userLoad"></div>
								<span v-if="!userLoad">
									<div v-for="user in users" class="room-content newchat" @click="$('newChatModal').modal('hide');do_createRoom(user.email);vm.initRoom=false">
										<img :src="user.avatar_url" class="rounded-circle" alt="" style="width: 2rem; height: 2rem;">
										<div class="room-content-info">
											<h5 class="mb-0">{{user.name}}</h5>
										</div>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="chatOptionModal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<section id="context-menu-button">
								<button class="btn btn-danger btn-block" onclick="$('#context-menu-button').hide(); $('#context-menu-confirm').fadeIn()">Delete Message</button>
							</section>
							<section id="context-menu-confirm">
								<h5 class="text-center">Are you sure ?</h5>
								<div class="row">
									<div class="col-6 pr-2">
										<button class="btn btn-outline-secondary btn-sm btn-block" onclick="$('#context-menu-confirm').hide(); $('#context-menu-button').fadeIn()">Cancel</button>
									</div>
									<div class="col-6 pl-2">
										<button class="btn btn-outline-danger btn-sm btn-block" onclick="do_deleteMsg()">Delete</button>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="deleteAllMsgModal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<h5 class="text-center">Are you sure want to delete conversation with <span class="font-weight-bold">{{target_name}}</span> ?</h5>
							<div class="row">
								<div class="col-6 pr-2">
									<button class="btn btn-outline-secondary btn-sm btn-block" data-dismiss="modal">Cancel</button>
								</div>
								<div class="col-6 pl-2">
									<button class="btn btn-outline-danger btn-sm btn-block" data-dismiss="modal" onclick="clearRoomMessages()">Delete</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="changeNameModal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<input type="text" id="updateName" class="form-control mb-3" :value="display_name" placeholder="Enter your name">
							<div class="row">
								<div class="col-6 pr-2">
									<button class="btn btn-secondary btn-sm btn-block" data-dismiss="modal">Cancel</button>
								</div>
								<div class="col-6 pl-2">
									<button class="btn btn-main btn-sm btn-block" data-dismiss="modal" @click="display_name = $('#updateName').val(); qiscus.updateProfile({name: display_name})">Change</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Attach File</h5>
							<button v-if="!onUploadFile" type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div v-if="!onUploadFile" class="row">
								<div class="col-2">
									<img src="svg/file.svg" width="75" height="75">
								</div>
								<div class="col-10">
									<label class="text-truncate w-100" :title="fileName">{{fileName}}</label>
									<input class="form-control" placeholder="Add caption" id="send-file-caption">
								</div>
							</div>
							<div v-if="onUploadFile">
								<h5 class="text-center">Uploading file : <span v-if="!uploadFileDone">on progress</span><span v-if="uploadFileDone">Done</span></h5>
								<div class="progress">
									<div class="progress-bar bg-main" role="progressbar" :style="'width:'+ uploadProgress + '%'" :aria-valuenow="uploadProgress" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<h5 v-if="uploadFileDone" class="text-center mt-3">Sending file</h5>
							</div>
						</div>
						<div v-if="!onUploadFile" class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
							<button class="btn btn-main btn-sm" onclick="do_sendFile()">Send</button>
						</div>
					</div>
				</div>
			</div>
			
			<input type="hidden" id="temp-delete-msg-id">
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/qiscus-sdk-core"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="js/vue.js"></script>
	<script>
		const qiscus = new QiscusSDKCore()
		window.addEventListener('DOMContentLoaded', function () {
			qiscus.init({
				AppId: 'sample-ap-lfuggwdp8i8',
				options: {
                    commentDeletedCallback: function (data) {},
                    commentDeliveredCallback: function (data) {
						// console.log('delivered')
                        // console.log(data.comment.message+'\n'+data.comment.status+'\n'+$('#chat-content li p label img[src="svg/sent.svg"]').length)
                        $('#chat-content li p label img[src="svg/sent.svg"]').attr({'src':'svg/delivered.svg', 'title':'Delivered'})
                    },
                    commentReadCallback: function (data) {
						// console.log('read')
                        // console.log(data.comment.message+'\n'+data.comment.status+'\n'+$('#chat-content li p label img[src="svg/delivered.svg"]').length+'\n'+$('#chat-content li p label img[src="svg/sent.svg"]').length)
                        $('#chat-content li p label img[src="svg/delivered.svg"], #chat-content li p label img[src="svg/sent.svg"]').attr({'src':'svg/read.svg', 'title':'Read'})
                    },
                    presenceCallback: function (data) {
						onlineStatus()
					},
                    typingCallback: function (data) {
                        if (data.message == '1') {
							vm.typingRoom = data.room_id
                        } else {
							vm.typingRoom = null
                        }
                    },
                    onReconnectCallback: function (data) {},
                    newMessagesCallback: function (messages) {
                        var msg = messages[0]
						// console.log(msg)
						let i = vm.roomList.findIndex(room => room.id === msg.room_id)
						var oldRoom = vm.roomList[i]
						if (oldRoom) {
							vm.roomList.splice(i,1)
							vm.roomList.unshift({
								id: oldRoom.id,
								avatar: oldRoom.avatar,
								name: oldRoom.name,
								last_comment_message: msg.message
							})
						} else {
							vm.hasRoom = true
							vm.roomList.push({
								id: msg.room_id,
								avatar: msg.room_avatar,
								name: msg.room_name,
								last_comment_message: msg.message
							})
						}

                        if (vm.openRoom == msg.room_id) {
							// console.log(msg)
							let d = new Date()
							let h = d.getHours() < 10 ? "0" + d.getHours() : d.getHours()
							let time = h + ':' + d.getMinutes()
							let data = {
								pos: msg.id,
								pos: msg.email == localStorage.getItem('login-email') ? 'right' : 'left',
								msg: msg.message,
								date: getChatTime(msg.timestamp),
								status: msg.status,
								unique_id: msg.unique_temp_id,
								payload: msg.payload
							}

							vm.chatList.push(data)

							if (msg.email == localStorage.getItem('login-email')) {
								setTimeout(function(){
									vm.sendingMsg = false
									$('#send-message-input').val('').focus()
									$('#chat-content').prop({ scrollTop: $('#chat-content').prop("scrollHeight") })
								},1)
							}
                        }
                    },
                    roomClearedCallback: function (data) {}
                }
			})

			var loginEmail = localStorage.getItem('login-email')
			var loginPass = localStorage.getItem('login-pass')
			if (loginEmail && loginPass) {
				$('[onclick="do_login()"]').html('<div class="loader loader-sm"></div>').prop('disabled',true)
				initLogin(loginEmail,loginPass)
			}

			$('#email').focus()

			$('body').on('keyup', function(e){
				if ($('.login-page').length) {
					if (e.keyCode == 13) {
						let err = 0
						$('#loginForm input:visible').each(function(){
							if ($(this).val() == '') { err = 1}
						})

						if (!err) { do_login() }
					}
				}
			})

            $(window).resize(function(){
                if (!$('.open-menu').is(':visible')) {
                    vm.sidebar = true
                }
            }).click(function(e){
				if (e.target.id != 'room-menu-svg' && e.target.id != 'room-menu-path') {
					vm.roomMenu = false
				}
			})
		})

		var vm = new Vue({
			el: '#main',
			data: initialData(),
			computed: {
				users() {
					if (this.userList != null) {
						return this.userList.filter(user => {
							return user.name.toLowerCase().indexOf(this.userSearch.toLowerCase()) > -1
						})
					}
				},
				rooms() {
					if (this.roomList != null) {
						return this.roomList.filter(room => {
							return room.name.toLowerCase().indexOf(this.roomSearch.toLowerCase()) > -1
						})
					}
				}
			}
		})

		//$(document).ready(function(){
			//
		//})

		function initialData() {
			return {
				isLogin: false,
				isRegister: false,
				isOnline: false,
				sidebar: true,
				display_name: '',
				display_img: '',
				target_img: null,
				target_name: '',
				userLoad: false,
				userSearch: '',
				userList: [],
				initRoom: true,
				hasRoom: false,
				roomLoad: true,
				roomSearch: '',
				roomList: [],
				openRoom: '',
				roomUniqueId: '',
				roomMenu: false,
				typingRoom: null,
				chatLoad: false,
				chatList: [],
				fileName: '',
				onUploadFile: false,
				uploadProgress: 0,
				uploadFileDone: false,
				fixedChatDate: false,
				currentDate: '',
				loadMoreBtn: false,
				sendingMsg: false
			}
		}

		function switch_login() {
			vm.isRegister = !vm.isRegister
			$('#loginForm input').val('').removeClass('is-valid is-invalid')
			$('#email').focus()
		}

		function do_login(){
			var err = 0
			var isRegister = $('#cpassword').is(':visible')
			$('#loginForm input:visible').removeClass('is-valid is-invalid').each(function(){
				if ($(this).val() == '') {
					$(this).addClass('is-invalid')
					err = 1
				} else if ($(this).attr('type') == 'email') {
					var isEmail = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/igm
					if (!isEmail.test($(this).val())) {
						$(this).addClass('is-invalid')
						err = 1
					}
				}
			})

			if (isRegister) {
				if ($('#password').val() != $('#cpassword').val()) {
					$('#cpassword').addClass('is-invalid')
					err = 1
				}
			}

			if (err) {
				$('#loginForm input:not(.is-invalid)').each(function(){
					$(this).addClass('is-valid')
				})

				$('#loginForm input.is-invalid:first').focus()
				
				return false
			} else {
				var email = $('#email').val()
				var pass  = $('#password').val()
				var name  = $('#displayname').val()
				$('[onclick="do_login()"]').html('<div class="loader loader-sm"></div>').prop('disabled',true)
				qiscus.setUser(email, pass, name, '', {}).then(function (authData) {
					if (qiscus.isLogin) {
						localStorage.setItem('login-email', email)
						localStorage.setItem('login-pass', pass)
						initLogin(email,pass)
					} else {
						alert('Wrong password!')
						$('#password').focus()
						$('[onclick="do_login()"]').html('Submit').prop('disabled',false)
					}
				}).catch(function (error) {
					alert(error)
				})
			}
		}

		function initLogin(email,pass) {
			qiscus.setUser(email, pass, '', '', {}).then(function (authData) {
				var userData = qiscus.userData
				vm.display_name = userData.username
				vm.display_img = userData.avatar_url
				vm.isLogin = true
				updateRooms()
			}).catch(function (error) {
				alert(error)
			})
		}

		function createRoom() {
            $('#newChatModal input').val('')
			vm.userSearch = ''
			getUsers()
			$('#newChatModal').modal('show').on('shown.bs.modal',function(){ $('#newChatModal input').focus() })
        }
        
        function getUsers(){
			vm.userLoad = true
			vm.userList = []
            qiscus.getUsers('', 1, 9999999).then(function (data) {
				vm.userLoad = false
				vm.userList = data.users
            }).catch(function (error) {
                alert(error)
            })
        }

		function do_createRoom(id) {
			qiscus.chatTarget(id).then(function (room) {
				$('#newChatModal').modal('hide')
				if ($('.close-menu').is(':visible')) {
					vm.sidebar = false
				}
				if (vm.roomList.findIndex(d => d.id === room.id) == -1) {
					vm.roomList.unshift(room)
				}
                getRoom(room.id)
			}).catch(function (error) {
				alert(error)
			})
		}

		function updateRooms() {
			vm.roomLoad = true
			vm.roomList = []
			qiscus.loadRoomList({page:1, limit:100, show_participants:2, show_empty:false}).then(function (rooms) {
				// console.log(rooms[0])
				vm.roomLoad = false
				if (rooms != '') {
					vm.hasRoom = true
					vm.roomList = rooms
				}
			}).catch(function (error) {
				alert(error)
			})
		}

        function activeRoom(id) {
			getRoom(id)
			vm.initRoom = false
			window.clearTimeout(onlineTimer)
			vm.isOnline = false

			if ($('.close-menu').is(':visible')) {
				vm.sidebar = false
			}
        }

        function getRoom(id) {
			vm.openRoom = ""
			vm.roomUniqueId = ""
			vm.chatLoad = true
			vm.chatList = []
			vm.target_img = null
			vm.target_name = ''
            qiscus.getRoomById(id)
            .then(function (room) {
                // console.log(room)
				vm.openRoom = id
				vm.roomUniqueId = room.unique_id
				vm.chatLoad = false
				vm.target_img = room.avatar
				vm.target_name = room.name
				vm.loadMoreBtn = false
                $('#send-message-input').focus()
                if (room.comments.length > 0) {
                    var chats = room.comments
					console.log(chats)
                    
                    if (chats.length == 20) {
						vm.loadMoreBtn = true
                    }

                    for (let i = 0; i < chats.length; i++) {
                        var d = chats[i]
						let data = {
							id: d.id,
							pos: d.username_real == localStorage.getItem('login-email') ? 'right' : 'left',
							msg: d.message,
							date: getChatTime(d.timestamp),
							status: d.status,
							unique_id: d.unique_id,
							payload: d.payload
						}

						vm.chatList.push(data)
                    }

					vm.fixedChatDate = $('#chat-content')[0].scrollHeight > $('#chat-content').height() ? true : false

                    setTimeout(function(){ $('#chat-content').prop({ scrollTop: $('#chat-content').prop("scrollHeight") }); getCurrentChatDate() }, 10)

					$('#chat-content').scroll(function(){
						getCurrentChatDate()
					})
                }
            })
            .catch(function (error) {
                alert(error)
            })
        }

		function chat_menu(pos, id){
			// console.log(e)
			if (pos != 'left') {
				// if (e.target.className != 'selectable-text' && document.getSelection().toString() == '') {
					$('#context-menu-confirm').hide()
					$('#context-menu-button').show()
					$('#chatOptionModal').modal('show')
					$('#temp-delete-msg-id').val(id)
				// }
			}
		}

        function loadMoreMsg() {
			var roomId = vm.openRoom
            var lastElPos = $('#chat-content li:not(.d-flex):first').position().top
			var lastChatId = vm.chatList[0].id
            var options = {last_comment_id: lastChatId, limit: 50}
            qiscus.loadComments(roomId, options).then(function (msg) {
				console.log(msg)
                for (var i = msg.length-1; i >= 0; i--) {
                    var d = msg[i]

					let data = {
						id: d.id,
						pos: d.email == localStorage.getItem('login-email') ? 'right' : 'left',
						msg: d.message,
						date: getChatTime(d.timestamp),
						status: d.status,
						unique_id: d.unique_temp_id,
						payload: d.payload
					}

					vm.chatList.unshift(data)
                }
                
				setTimeout(function(){
					let i = vm.chatList.findIndex(chat => chat.id === lastChatId) + 1
					var curPos = $('#chat-content li:not(.d-flex):nth-child('+i+')').position().top - lastElPos
					$('#chat-content').scrollTop(curPos)
				},10)

                if (msg.length != 50) {
					vm.loadMoreBtn = false
                }
            }).catch(function (error) {
                alert(error)
            })
        }

        function do_deleteMsg() {
			var roomId = vm.openRoom
            var uniqueId = $('#temp-delete-msg-id').val()
            qiscus.deleteComment(roomId, [uniqueId]).then(function (comment) {
				let i = vm.chatList.findIndex(chat => chat.unique_id === uniqueId)
				vm.chatList.splice(i,1)

				vm.roomList[vm.roomList.findIndex(room => room.id === roomId)].last_comment_message = !vm.chatList.length ? '' : vm.chatList[vm.chatList.length -1].msg
                $('#chatOptionModal').modal('hide')
                $('#temp-delete-msg-id').val('')
            }).catch(function (error) {
                alert(error)
            })
        }
        
		function clearRoomMessages() {
			qiscus.clearRoomMessages([vm.roomUniqueId]).then(function (rooms) {
				var roomId = rooms.results.rooms[0].id
				vm.roomList[vm.roomList.findIndex(room => room.id === roomId)].last_comment_message = ''
				vm.chatList = []
			}).catch(function (error) {
				alert(error)
			})
		}

        function do_sendMsg(e) {
            var msg    = $('#send-message-input').val()
            if (msg != '') {
				vm.sendingMsg = true
                qiscus.sendComment(vm.openRoom, msg).then(function (comment) {
				}).catch(function (error) {
					alert(error)
				})
            } else {
                alert('Please fill the required input.')
                $('#send-message-input').focus()
            }
        }

		function fileCheck() {
			let file = $('#uploadFile')[0].files
			// console.log(file)
			if (file.length > 0) {
				vm.fileName = file[0].name
				$('#send-file-caption').val('')
				$('#uploadFileModal').modal('show').on('shown.bs.modal', function() { $('#send-file-caption').focus() })
			}

			$('#uploadFileModal').on('hidden.bs.modal', function() { $('#uploadFile').val('') })
		}

		function do_sendFile() {
			var caption = $('#send-file-caption').val()
			vm.onUploadFile = true
			qiscus.upload($('#uploadFile')[0].files[0], function (error, progress, url) {
				if (error) { alert(error) }

				if (progress) {
					// console.log(progress)
					vm.uploadProgress = progress.percent
				}

				if (url) {
					vm.uploadFileDone = true
					// console.log(url)

					var roomId = vm.openRoom
					var uniqueId = Date.now()
					var type = 'custom'
					var payload = JSON.stringify({
						type: 'file',
						content: {
							url: url,
							caption: caption,
							file_name: vm.fileName
						}
					})
					var extras = ''

					qiscus.sendComment(roomId, caption, uniqueId, type, payload, extras).then(function (comment) {
						// console.log(comment)
						$('#uploadFileModal').modal('hide').on('hidden.bs.modal', function(){
							$('#send-file-caption, #uploadFile').val('')
							vm.uploadProgress = 0
							vm.onUploadFile = false
							vm.uploadFileDone = false
						})
					}).catch(function (error) {
						alert(error)
					})
				}
			})
		}

		function sendMsgByEnter(e) {
			if (!$('[onclick="do_sendMsg(event)"]').is('disabled')) {
				if (e.keyCode == 13) {
					if (!e.shiftKey) {
						e.preventDefault()
						do_sendMsg()
					}
				}
			}
		}

		var typingTimer = -1
		var isTyping = 0
		function typingStatus(e) {
            if (!isTyping) {
				qiscus.publishTyping(1)
				isTyping = 1
			}

			window.clearTimeout(typingTimer)
			typingTimer = setTimeout(function(){
				qiscus.publishTyping(0)
				isTyping = 0
			}, 1500)
		}

		var onlineTimer = -1
		function onlineStatus() {
			if (!vm.isOnline) {
				vm.isOnline = true
			}

			window.clearTimeout(onlineTimer)
			onlineTimer = setTimeout(function(){
				vm.isOnline = false
			}, 5000)
		}

        function do_logout() {
            localStorage.removeItem('login-email')
            localStorage.removeItem('login-pass')
            qiscus.disconnect()
			Object.assign(vm.$data, initialData())
			$('#menuModal').modal('hide').on('hidden.bs.modal', function() { vm.isLogin = false })
        }

        function firstLetterUp(s) {
            return s.charAt(0).toUpperCase() + s.slice(1)
        }

		var lastSeenDate = null, lastScrollTop = 0
		function getCurrentChatDate() {
			let el = $('#chat-content .chat-date')
			let none = false, date, hide = false
			if (el.length > 1) {
				el.each(function(i){
					if (dateVisible($(this))) {
						none = false
						lastSeenDate = $(this).text()
						if (i == 0) {
							hide = true
						}

						return false
					} else {
						none = true
						date = $(this).text()
					}
				})
			} else if (el.length == 1) {
				date = el.text()
				hide = false
				if (dateVisible(el)) {
					hide = true
				}
			}
			if (hide) {
				vm.fixedChatDate = false
			} else {
				vm.fixedChatDate = true
				if (!none) {
					vm.currentDate = date
				} else {
					if (lastSeenDate && $('#chat-content').scrollTop() > lastScrollTop) {
						vm.currentDate = lastSeenDate
					}
				}
			}

			if ($('#chat-content').scrollTop() == 0) {
				vm.fixedChatDate = false
			}

			lastScrollTop = $('#chat-content').scrollTop()
		}

		function dateVisible(el) {
			let h = $('#chat-content').height() + $('.home-header').height()

			let t = el.position().top - $('.home-header').height()
			let b = t + el.height()

			return (b <= h) && (t >= 50)
		}
	
		function getChatTime(date) {
			let d = new Date(date)
			return {
				t: leadingZero(d.getHours()) + ":" + leadingZero(d.getMinutes()),
				d: d.getDate()+'/'+d.getMonth()+'/'+d.getFullYear()
			}
		}

		function leadingZero(i) {
			if (i < 10) {
				i = "0" + i
			}

			return i
		}
	</script>
</body>
</html>